ModFrmHilX/*
ModFrmHilD/*.sig
*.sig
*.swp
.DS_Store
*.m~
*.m#
ModFrmHilD/.#Space.m
ModFrmHilD/.magma-scan/Space.m.el
*.auto*
ModFrmHil/spec~
*.el
*.ipynb
ModFrmHilD/vdgV.m
*.html
Mestre/MestreConic12.m
Mestre/MestreCubic12.m.txt
WorkInProgress/X0p31_Qsqrt5.pdf
